section.about-us-details-layout
            .contanier.about-us-details-layout__contanier
                .about-us-details-layout__about-content
                    .about-us-details-layout__about-title
                        p DETAILS ABOUT BOUNCY
                    .about-us-details-layout__about-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                .about-us-details-layout__icons-block
                    .about-us-details-layout__icon
                        .about-us-details-layout__icon-shadow
                            .about-us-details-layout__about-heart
                    .about-us-details-layout__icon
                        .about-us-details-layout__icon-shadow
                            .about-us-details-layout__about-mouse
                    .about-us-details-layout__icon
                        .about-us-details-layout__icon-shadow
                            .about-us-details-layout__about-lamp

                .about-us-details-layout__middle-title
                    p Creative Ideas
                .about-us-details-layout__bottom-content
                    p.about-us-details-layout__left-discription At 
                        span.about-us-details-layout__text-color vero
                        |  eos et accusamus et iusto odio dignissimos 
                        span.about-us-details-layout__text-bold ducimus
                        |  qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 

                    p.about-us-details-layout__right-discription At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
                        span.about-us-details-layout__text-bold corrupti quos 
                        |  dolores et quas molestias 
                        span.about-us-details-layout__text-color excepturi  
                        |  sint occaecati cupiditate non provident, 
                        span.about-us-details-layout__text-bold similique 
                        | sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r
