section.featured-work-layout
            .contanier.featured-work-layout__contanier
                .featured-work-layout__content
                    .featured-work-layout__title
                        p FEATURED PROJECTS
                    .featured-work-layout__discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium