section.slider-layout
    .contanier.slider-layout__contanier
        .contanier.slider-layout__header
            .slider-layout__name Bouncy
            .slider-layout__navigation
                .slider-layout__navigation-button
                    .slider-layout__item-active
                     a.text-item.slider-layout__hello(href="#hello") Hello
                .slider-layout__navigation-button
                    .slider-layout__item-active
                     a.text-item.slider-layout__about(href="#about") About
                .slider-layout__navigation-button
                    .slider-layout__item-active
                     a.text-item.slider-layout__services(href="#services") Services
                .slider-layout__navigation-button
                    .slider-layout__item-active
                     a.text-item.slider-layout__portfolio(href="#portfolio") Portfolio
                .slider-layout__navigation-button
                    .slider-layout__item-active
                     a.text-item.slider-layout__team(href="#portfolio") Team
                .slider-layout__navigation-button
                    .slider-layout__item-active
                     a.text-item.slider-layout__blog(href="#portfolio") Blog
                .slider-layout__navigation-button
                    .slider-layout__item-active
                     a.text-item.slider-layout__contact(href="#contact") Contact
        .slider-layout__content            
            .slider-layout__title We Are Code Cafe
            .slider-layout__discription At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
        .slider-layout__slider_img
            .slider-layout__slider_arrow