section.slider-layout
    .contanier.slider-layout__contanier
        .contanier.slider-layout__header
            .about-us-details-layout__name
                p Bouncy
            .about-us-details-layout__navigation
                .about-us-details-layout__navigation-button
                    .about-us-details-layout__item-active
                        a.text-item.about-us-details-layout__hello(href="#hello") Hello
                .about-us-details-layout__navigation-button
                    .about-us-details-layout__item-active
                        a.text-item.about-us-details-layout__about(href="#about") About
                .about-us-details-layout__navigation-button
                    .about-us-details-layout__item-active
                        a.text-item.about-us-details-layout__services(href="#services") Services
                .about-us-details-layout__navigation-button
                    .about-us-details-layout__item-active
                        a.text-item.about-us-details-layout__portfolio(href="#portfolio") Portfolio
                .about-us-details-layout__navigation-button
                    .about-us-details-layout__item-active
                        a.text-item.about-us-details-layout__team(href="#portfolio") Team
                .about-us-details-layout__navigation-button
                    .about-us-details-layout__item-active
                        a.text-item.about-us-details-layout__blog(href="#portfolio") Blog
                .about-us-details-layout__navigation-button
                    .about-us-details-layout__item-active
                        a.text-item.about-us-details-layout__contact(href="#contact") Contact
        .slider-layout__content            
            .slider-layout__title
                p We Are Code Cafe
            .slider-layout__discription
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
        .slider-layout__slider_img
            .slider-layout__slider_arrow