doctype html
html
    head 
        link(rel="stylesheet" href="styles/main.css")
        link(href="css/tox-progress.css" rel="stylesheet")
        script(src="js/tox-progress.js")
        meta(charset="UTF-8")
        title We Are Code Cafe
        meta(name="viewport" content="width=device-width,initial-scale=1")

    body
        include header.pug

        a(name="hello") 
        include about-us.pug

        a(name="about")
        include about-us-details.pug

        include featers.pug

        include works.pug

        a(name="services")
        include our-services.pug

        include team-quotes.pug

        a(name="portfolio") 
        include portfolio.pug

        include contacts-layout.pug

        a(name="contact")
        include social-layout.pug







