doctype html
html
    head 
        link(rel="stylesheet", href="styles/main.css")
    body
     section.slider-layout
        .slider-layout__contanier
            .slider-layout__hover
            .slider-layout__content
            .slider-layout__image
            .slider-layout__slider_bg
    
        