section.our-services-layout
    .contanier.our-services-layout__contanier
        .our-services-layout__content
            .our-services-layout__title OUR SERVICES
            .our-services-layout__description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        .our-services-layout__graphics
            .our-services-layout__icons-block
                .our-services-layout__icons-shape
                    .our-services-layout__icons-tools
                .our-services-layout__icons-shape
                    .our-services-layout__icons-paint
                .our-services-layout__icons-shape
                    .our-services-layout__icons-game
                .our-services-layout__icons-shape
                    .our-services-layout__icons-plug        
            .our-services-layout__content-block
                .our-services-layout__title Graphic Design
                .our-services-layout__first-discription At vero eos et accusamus et 
                    span.about-us-details-layout__text-color iusto 
                    | odio dignissimos 
                    span.about-us-details-layout__text-bold ducimus 
                    | qui blanditiis praesentium voluptatum deleniti
                .our-services-layout__second-discription quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                    span.about-us-details-layout__text-color similique sunt 
                    | in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
            .our-services-layout__diagram-block
                .our-services-layout__percent-block
                    .our-services-layout__circle
                        .our-services-layout__circle-bg
                            .our-services-layout_text 80%
                            .our-services-layout__circle-percent-1
                    .our-services-layout__name Branding

                .our-services-layout__percent-block
                    .our-services-layout__circle
                        .our-services-layout__circle-bg
                            .our-services-layout_text 75%
                            .our-services-layout__circle-percent-3
                        .our-services-layout__name Web Design  

                .our-services-layout__percent-block
                    .our-services-layout__circle
                        .our-services-layout__circle-bg
                            .our-services-layout_text 60%
                            .our-services-layout__circle-percent-2
                        .our-services-layout__name UI/UX








