section.portfolio-layout
    .contanier.portfolio-layout__contanier
        .portfolio-layout__content
            p.portfolio-layout__title THE PORTFOLIO
            p.portfolio-layout__discription At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        .portfolio-layout__menu-web
            .portfolio-layout__menu-item All Works
                .portfolio-layout__active-item
            .portfolio-layout__menu-item Print
                .portfolio-layout__active-item
            .portfolio-layout__menu-item Identity
                .portfolio-layout__active-item
            .portfolio-layout__menu-item Branding
                .portfolio-layout__active-item
            .portfolio-layout__menu-item Web
                .portfolio-layout__active-item
            .portfolio-layout__menu-item HTML
                .portfolio-layout__active-item
            .portfolio-layout__menu-item Wordpress
                .portfolio-layout__active-item

        .portfolio-layout__grid-prewiew
            .portfolio-layout__grid-prewiew-item1
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item1-title
                        p BAG
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item2
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item2-title
                        p BOOK
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item3
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item3-title
                        p COVER
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item4
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item4-title
                        p BAG
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item5
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item5-title
                        p LAMP
                        .portfolio-layout__grid-prewiew-item-underline
                        .portfolio-layout__grid-prewiew-item-discription
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        .portfolio-layout__grid-prewiew-item-action
                            .portfolio-layout__grid-prewiew-item-link
                                .portfolio-layout__grid-prewiew-item-link-icon
                            .portfolio-layout__grid-prewiew-item-like
                                .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item6
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item6-title
                        p BOTTLES
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item7
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item7-title
                        P TITLE HERE
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item8
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item8-title
                        p BAG
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item9
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item9-title
                        p IPA
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item10
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item10-title
                        p SIGNATURE
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item11
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item11-title
                        p SOFA
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
            .portfolio-layout__grid-prewiew-item12
                .portfolio-layout__grid-prewiew-content
                    .portfolio-layout__grid-prewiew-item12-title
                        p IPAD
                    .portfolio-layout__grid-prewiew-item-underline
                    .portfolio-layout__grid-prewiew-item-discription
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    .portfolio-layout__grid-prewiew-item-action
                        .portfolio-layout__grid-prewiew-item-link
                            .portfolio-layout__grid-prewiew-item-link-icon
                        .portfolio-layout__grid-prewiew-item-like
                            .portfolio-layout__grid-prewiew-item-like-icon
        .portfolio-layout__start-project
            .portfolio-layout__start-project-content
                p.portfolio-layout__start-project-slogan At vero eos et 
                    span.portfolio-layout__start-project-content-bold accusamus 
                    | et iusto odio 
                    span.portfolio-layout__start-project-content-bold dignissimos 
                    | ducimus qui blanditiis 
                .portfolio-layout__start-project-botton
                    p Start Project