section.social-layout
        .contanier.social-layout__contanier
            .social-layout__content
                .social-layout__company-name
                    p Bouncy
                .social-layout__copyright
                    p Copyright 2020. All rights Reserved
                .social-layout__social
                    .social-layout__social-item1
                        .social-layout__social-icon1
                    .social-layout__social-item2
                        .social-layout__social-icon2
                    .social-layout__social-item3
                        .social-layout__social-icon3
                    .social-layout__social-item4
                        .social-layout__social-icon4
                    .social-layout__social-item5
                        .social-layout__social-icon5