section.team-quotes-layout
            .contanier.team-quotes-layout__contanier
                .team-quotes-layout__content
                    p.team-quotes-layout__title Impressed ?
                    p.team-quotes-layout__dicription At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                    span.team-quotes-layout__author-bold - Abdullah Noman 
                    p.team-quotes-layout__author Creatice Director, 
                        span.team-quotes-layout__author-color Code Cafe
                .team-quotes-layout__mac
                    .team-quotes-layout__image
                     p.team-quotes-layout__screen-text B
                        span.team-quotes-layout__screen-text-color o
                        |uncy