section.works-layout
    .works-layout__contanier
        .works-layout__whiskey
            .works-layout__text WISKEY
        .works-layout__vintage
            .works-layout__text VINTAGE
        .works-layout__branding
            .works-layout__text BRANDING
        .works-layout__snickers
            .works-layout__content At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
            .works-layout__button Submit Now